boto3>=1.9
https://github.com/docker/docker-py/archive/1.10.6.tar.gz#egg=docker-py
dockerfile-parse==0.0.17
multidict<4.6.0
PyGithub==1.50
pyyaml==5.3.1
taskcluster==29.1.3
taskcluster-urls==12.1.0
twine==2.0.0
yarl<1.4.0
