boto3>=1.9
https://github.com/docker/docker-py/archive/1.10.6.tar.gz#egg=docker-py
dockerfile-parse==1.1.0
multidict==5.1.0
PyGithub==1.54.1
pyyaml==5.4.1
taskcluster==40.0.3
taskcluster-urls==13.0.1
twine==2.0.0
yarl<1.4.0
zstandard==0.15.2
